.homePageContainer {
  width: 100%;
  height: 100vh;
  background-image: url('/landingImage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer {
  color: white;
  display: flex;
  font-size: 2vw;
  justify-content: center;
  align-items: center;
  grid-gap: 20%;
  font-weight: 400;
  margin-top: 10%;
  font-family: 'NATS';
  line-height: 3vw;
}

.contentContainer img {
  width: 100%;
}

.subNavigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: 0.3s all ease;
  line-height: 3vw;
}

.subNavigation a {
  border-bottom: 3px solid #a4804d;
  transition: all 0.3s;
}

.subNavigation a:hover {
  color: #a4804d;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .linksContainer {
    font-size: 6vw;
    justify-content: center;
    align-items: center;
    grid-gap: 6%;
    font-weight: 400;
    margin-top: 10%;
    font-family: 'NATS';
    line-height: 3vw;
  }
}
